*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.dvi
*.fdb_latexmk
*.synctex.gz
*.pdfsync
*.swp
*.bcf
*.glg
*.glo
*.gls
*.ist
*.fls
*.loa
*.lol
*.synctex(busy)
*.run.xml
*.synctex.gz(busy)